
<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/company">Company Analysis</a></li>
      <li><a href="/peers">Peer Comparison</a></li>
      <li><a href="/economy">Economic Overview</a></li>
      <li><a href="/reports">Reports</a></li>
    </ul>
  </nav>
</aside>
