<%- include('partials/header') %>

<section class="page-section">
  <h1>Welcome to Valuation Models</h1>
  <p>
    Choose a valuation method:
    <ul>
      <li><a href="/dcf">Discounted Cash Flow (DCF)</a></li>
      <li><a href="/ddm">Dividend Discount Model (DDM)</a></li>
      <li><a href="/pe">P/E Valuation</a></li>
    </ul>
  </p>
</section>

<%- include('partials/footer') %>
