
<%- include('../partials/header', { title: title }) %>
<%- include('../partials/sidebar') %>
<main class="main-content container">
  <h1><%= title %></h1>
  <p>Macro economic overview - coming soon</p>
</main>
<%- include('../partials/footer') %>
